universe = vanilla
Executable = DIRECTORY/TYPE.csh
Requirements   =  OpSys == "LINUX" && (Arch =="INTEL" || Arch =="x86_64")
Should_Transfer_Files = YES
WhenToTransferOutput = ON_EXIT
Output = DIRECTORY/TYPE.stdout
Error = DIRECTORY/TYPE.stderr
Log = DIRECTORY/TYPE.condor.log
Queue = 1
+UseSL5 = True